.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--g-16);
}

.heroContent {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: var(--g-16);
  position: relative;
}

.heroText {
  padding-top: 59px;
  text-align: center;
}

.heroText::before {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/app-images/before-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 300px;
  position: absolute;
  top: 9px;
  right: 56px;
  transition: all 0.3s ease-in-out;
  animation: blink 2s infinite;
}

.heroText::after {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/app-images/after-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 300px;
  position: absolute;
  top: -94px;
  left: 15px;
  transition: all 0.3s ease-in-out;
  animation: blink 2s infinite;
}

.heroTitle {
  line-height: var(--lh69);
  text-align: center;
  font-family: var(--font-georgia);
}

.heroButtons {
  display: flex;
  gap: var(--g-16);
  justify-content: center;
}

.heroGetStartedButton,
.heroButton {
  border-radius: var(--br-7) !important;
}

.heroButton {
  border: 1px solid var(--grey-200) !important;
}

.heroImage {
  height: 462px;
  width: 250px;
  position: relative;
}

.heroImage img {
  object-fit: fill;
}

.heroImageContainer {
  display: flex;
  gap: var(--g-16);
  justify-content: center;
}

.heroImageContainer .heroImage:nth-child(1) img {
  position: absolute !important;
  top: 100px !important;
}

.heroImageContainer .heroImage:nth-child(2) img {
  position: absolute !important;
  top: 50px !important;
}

.heroImageContainer .heroImage:nth-child(3) img {
  position: absolute !important;
  top: 30px !important;
}

.heroText h1,
.heroText p,
.heroText h2,
.heroText h3,
.heroText h4,
.heroText h5,
.heroText h6 {
  font-family: var(--font-georgia);
  color: var(--white);
  font-size: var(--fs69);
  line-height: var(--lh69);
  font-weight: 400;
  text-align: center;
}

.heroDescription p,
.heroDescription h1,
.heroDescription h2,
.heroDescription h3,
.heroDescription h4,
.heroDescription h5,
.heroDescription h6 {
  text-align: center;
  color: var(--grey-400);
  font-family: var(--font-rethink);
  font-size: var(--fs24);
  font-weight: 400;
  line-height: var(--lh32);
}

@media (max-width: 1400px) {
  .heroContent {
    max-width: 48%;
  }

  .heroImage {
    width: 239px;
    height: 405px;
    position: relative;
  }

  .heroText {
    padding-top: 30px;
  }
}

@media (max-width: 991px) {
  .heroContent {
    max-width: 71%;
  }

  .heroText::before {
    top: -48px;
    right: -45px;

  }

  .heroText::after {
    top: -110px;
    left: -70px;
  }
}

@media (max-width: 800px) {
  .heroImage {
    width: 178px;
    height: 358px;
  }
}

@media (max-width: 767px) {
  .heroContent {
    max-width: 100%;
  }

  .heroText::before {
    top: -70px;
    right: -6px;
  }

  .heroText::after {
    top: -110px;
    left: -25px;
  }
}

@media (max-width: 600px) {
  .heroText:after {
    width: 53px;
    height: 290px;
    top: -118px;
    left: 3px;
  }

  .heroImage {
    width: 162px;
    height: 312px;
  }
}

@media (max-width: 500px) {
  .heroImage {
    width: 140px;
    height: 289px;
  }
}

@media (max-width: 480px) {
  .heroImage {
    width: 113px;
    height: 257px;
  }
}

@media (max-width: 400px) {
  .heroImage {
    width: 89px;
    height: 210px;
  }
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.3;
  }
}