.pricingContainer {
  padding: var(--p-50) 0;
  background-color: var(--grey-1900);
}
.pricingTitle p,
.pricingTitle h1,
.pricingTitle h2,
.pricingTitle h3,
.pricingTitle h4,
.pricingTitle h5,
.pricingTitle h6 {
    color: var(--black);
    font-family: var(--font-georgia);
    font-size: var(--fs40);
    font-weight: 400;
    line-height: var(--lh48);
    text-align: center;
}
.pricingDescription  p{
    color: var(--grey-1500);
    text-align: center;
    font-family: var(--font-rethink);
    font-size: var(--fs18);
    font-weight: 400;
    line-height: var(--lh25);
    max-width: 41%;
    margin: 0 auto;
}
.pricingRow {
    row-gap: 80px;
}