.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Main Header Styles */
.mainHeader {
  background: var(--blue-500);
  padding: var(--p-16) 0;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}


.logoIcon {
  width: 200px;
  height: 70px;
  position: relative;
}

.logoIcon img {
  object-fit: contain;
}

/* Navigation Styles */
.nav {
  display: flex;
  align-items: center;
  gap: var(--g-24);
}

.navLink {
  color: var(--yellow);
  font-size: var(--fs15);
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-rethink);
  transition: color 0.2s ease-in-out;
  position: relative;
  line-height: var(--lh24);
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-underline-offset: 6px;
}

.navLink.active {
  color: var(--yellow);
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  text-underline-offset: 6px;
}

/* Action Buttons Styles */
.actionButtons {
  display: flex;
  align-items: center;
  gap: var(--g-16);
}

.signInLink {
  color: var(--rgba-green-light);
  text-decoration: none;
  font-size: var(--fs13);
  font-weight: 700;
  font-family: var(--font-rethink);
  transition: color 0.2s ease-in-out;
}

.signInLink:hover {
  color: var(--grey-200);
}


